body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    position: relative;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 0.4rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.home-logo {
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.achievement {
    padding: 2rem;
    text-align: center;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.achievement-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.achievement-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}
