
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.home-logo {
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 0.4rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.hero {
    background: url('wall.webp') no-repeat center center/cover;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.background-content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

.logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}
